body {
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}
.Header{
  background-color: #171718;
  text-align: center;
  padding-left: 16vh;
}
h1{
  color:white; 
  font-weight: 800;
  opacity: 80%;
  display: inline;
  
}
p{
  color: grey;
  margin:0px;
}
.Header hr{
  border-color:#C6A664;
  width: 40px;
  margin-left: 0px;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
.Header div{
  margin-right:10vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  display:grid;
  padding-top: 5vh;
}
.Header button{
color:#C6A664;
border: 1px solid;
background-color: #171718;
height: 5vh;
width: 20vh;
margin-top: 4vh;
}
.Header button:hover{
  color:#C6A664;
  border: 1px solid;
  background-color: #171718;
}

.headerMiddle{
  margin: 0px;
  padding: 0px; 
  display: grid;
}
.headerMiddle img{
  width: 300px;
  height: 500px;
  display:grid;

}

.headerLeft{
text-align: left;
display: grid;
margin: 0px;
padding: 0px;
}


.headerRight{
  text-align: left;
  display: grid;
  margin: 0px;
  padding: 0px;
}

.Services{
  background-color: #1f2124;
  text-align: center;
  position:relative;
  padding-top: 8vh;;
  padding-bottom: 15vh;
  width:100vw;
} 
.bloqueHabilidadesEstilo{
  background-color: #171718;
  display: inline-block;
  margin: 5vh;
  width: 35vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.bloqueHabilidadesEstilo h3{
  color:white;
}

.Services h2{
  color: #C6A664;
  font-weight: 100;
}
.Contacto{
  background-color: #171718;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 15vh;
  width:100vw;
}
.Contacto h4{
 color:#C6A664;
}
.bloque_redes{
  display: inline-block;
  background-color:#1f2124;
  margin: 5vh;
  width: 35vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 6vh;
  color:white;
  margin-left: 1vh;
}
.bloque_redes p{
  color:#C6A664;
  display:inline-block;
  margin-left: 4vh;
}
.bloque_redes a{
  color:#C6A664;
  display:inline-block;
  font-style: none;
  text-decoration: none;
}
